.modal {
  width: 30rem;
  height: 20rem;
  background-color: aqua;
  position: absolute;
  left: 33%;
  top: 29%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }

.close-btn {
  position: absolute;
  top: 2rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }
